:root {
  --dark: #000000;
  --grey: #1d1d1b;
  --light: #f2f2f2;
  --red: #fc472b;
  --blue: #564ffb;
  --pink: #fd7ec9;
  --yellow: #ffd900;
  --green: #c1fd36;
  --gym-page-pad: 7rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--grey);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  justify-content: end;
  min-height: 100vh;
}

.wall {
  min-height: 90vh;
  /* background: linear-gradient(-27deg, var(--light) 50%, var(--grey) 50%); */
  background-color: lightgray;
}

.coming-soon {
  color: var(--light);
  background-color: var(--grey);
  display: flex;
  flex-flow: column;
  /* align-items: flex-end; */
  /* max-width: 50%; */
  /* padding: 3rem; */
  padding: 1rem;
  z-index: 2;
}

.coming-soon h1 {
  text-align: center;
  margin-top: 10vh;
}

.wall-container {
  transform-origin: center;
  transform: rotate(-22deg);
  position: absolute;
  left: -5%;
  width: 125vw;
  bottom: -35%;
  display: flex;
  flex-direction: column;
}

.wall-1 {
  background-color: #d9d9d9;
  display: flex;
  z-index: 1;
}

.wall-2 {
  background-color: var(--light);
  display: flex;
  justify-content: end;
  height: 70vh;
}

.slant-col {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding: 6rem 6rem 4rem 6rem;
  gap: 1rem;
  width: min-content;
  flex-grow: 1;
}

.slant-col > h3.go-back {
  color: var(--grey);
  align-self: end;
}

.err-container {
  display: flex;
  gap: 1rem;
}

.err-message {
  /* transform-origin: center;
  transform: rotate(-27deg); */
  /* text-align: center; */
  padding: 0rem;
  /* min-width: fit-content; */
  max-width: min-content;
  line-height: normal;
  color: var(--grey);
}

.err-code {
  color: #ffffff;
  writing-mode: vertical-rl;
  text-orientation: upright;
  padding: 0rem;
}

.overhang-section {
  border-left: var(--bright-grey) solid 1px;
  flex-basis: 50vw;
}

.graphics-container {
  position: absolute;
  right: -25px;
  bottom: 40px;
  z-index: 3;
}

.right-side-grey-container {
  display: flex;
  justify-content: end;
  background-color: var(--bright-grey);
  clip-path: polygon(0% 0%, 70% 100%, 100% 0);
  flex-basis: 50vw;
}

.tools-container {
  display: flex;
  justify-content: end;
  align-items: end;
}

.tool {
  width: 8%;
  height: 100%;
  position: relative;
  right: -24%;
}

.ladder {
  width: 40%;
  /* float: right;
  position: absolute; */
  /* right: 0;
  bottom: 7%; */
}

.background-holds {
  opacity: 1;
}

.background-holds > img {
  max-width: 14%;
  /* position: absolute; */
}

.background-holds > img.yellow-hold {
  /* right: 33%; */
  position: unset;
}

.background-holds > img.green-hold {
  max-width: 6%;
  /* top: 11%;
  left: -1vw; */
  position: unset;
}

.background-holds > img.purple-hold {
  max-width: 8%;
  /* top: 15%;
  right: -2.5vw; */
  position: unset;
}

.background-holds > img.red-hold {
  max-width: 5%;
  /* top: 40%;
  right: 7vw; */
  position: unset;
}

.background-holds > img.pink-hold {
  max-width: 5%;
  /* top: 40%;
  right: 7vw; */
  position: unset;
}
