:root {
  --dark: #000000;
  --bright-grey: #333333;
  --grey: #1d1d1b;
  --light: #f2f2f2;
  --red: #fc472b;
  --blue: #564ffb;
  --pink: #fd7ec9;
  --yellow: #ffd900;
  --green: #c1fd36;
  --gym-page-pad: 7rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--grey);
  width: 100%;
  overflow-x: clip;
}

header {
  position: relative;
  overflow-x: clip;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

nav.front {
  z-index: 5;
}

nav.fixed {
  position: fixed;
}

/* --- DEFAULT LINK STYLING --- */
a:link {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s, transform 0.2s;
}

a:visited {
  color: unset;
}

a:hover {
  color: unset;
}

a:active {
  color: unset;
}

a.disabled:link,
a.disabled:visited {
  color: var(--grey);
  pointer-events: none;
}

a.highlight {
  color: var(--pink);
}

.title-logo {
  font-size: 4rem;
  line-height: 3.5rem;
  color: var(--light);
  background-color: var(--dark);
  padding: 2rem 20rem 6rem 2rem;
  max-width: 22rem;
  border-bottom-right-radius: 100%;
  flex-basis: min-content;
}

span.menu-target {
  background-color: var(--dark);
  padding: 2rem 2rem 4rem 5rem;
  max-width: 14rem;
  border-bottom-left-radius: 100%;
  transform-origin: 11rem 2rem;
  display: inline-block;
  pointer-events: all;
  cursor: pointer;
}

span.menu-target.blown {
  transform: scale(14);
  pointer-events: none;
  transition: transform 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.menu-icon {
  opacity: 1;
  pointer-events: all;
}

.menu-icon.hidden {
  opacity: 0;
  pointer-events: none;
}

.grow-on-hover {
  /* display: inline-block; */
  transition: transform 0.2s;
}

.grow-on-hover:hover {
  transform: scale(1.2);
}

img {
  width: 100%;
}

img.graphic {
  min-width: 4rem;
  max-width: 6rem;
}

h1,
h2,
h3,
h4,
p,
label {
  color: var(--light);
}

h2::first-letter,
h3::first-letter,
label::first-letter,
button::first-letter {
  text-transform: capitalize;
}

h1 {
  padding: 4rem;
}

.quiz-container {
  text-align: center;
  position: relative;
  top: -4rem;
  z-index: 4;
}

.quiz-container h2 {
  max-width: 50vw;
  margin: 0 auto;
}

.answer-graphic {
  display: inline-block;
  margin-top: 5.5rem;
  margin-bottom: 2rem;
  position: relative;
  min-height: 22rem;
}

.answer-graphic > img {
  max-width: 8rem;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.rotating-group {
  display: flex;
  flex-flow: column;
  align-items: center;
  transform-origin: top;
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
  transition: all 0.2s;
  transform: rotate(45deg);
}

.tape-decoration-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.tape-decoration {
  height: 14rem;
  width: 1rem;
  background-color: var(--dark);
  margin: 0 0.15rem;
}

.logo-container {
  width: 6rem;
  height: 6rem;
  background-color: var(--light);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0.25rem; */
  /* position: relative; */
  /* left: -11rem; */
  /* top: -10rem; */
}

.heart-placeholder {
  transform: rotate(-45deg);
}

.logo-container a,
.logo-container span {
  height: 5.5rem;
  width: 5.5rem;
  display: block;
  border-radius: 100%;
  border: 2px solid var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
  transition: 0.4s ease-in;
}

.logo-container a.blown {
  transform: scale(30);
}

.logo-container img {
  /* --- IMPORTANT: setting border-radius makes sure the logo's overfill is clipped --- */
  border-radius: 100%;
  transition: all 0.2s;
}

.slider-container {
  margin: auto auto;
  max-width: 78rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-container label {
  flex: 1;
}

.left-label {
  text-align: right;
  padding: 0 1rem 0 0;
}

.right-label {
  text-align: left;
  padding: 0 0 0 1rem;
}

.slider {
  flex: 2 40%;
  margin: auto 1rem;
  /* accent-color: var(--blue); */
  appearance: none;
  height: 0.75rem;
  border-radius: 1rem;
  background: var(--light);
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: var(--blue);
  cursor: pointer;
  transition: transform 0.2s;
}

.slider::-webkit-slider-thumb:hover {
  transform: scale(1.25);
}

.slider::-moz-range-thumb {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: var(--blue);
  cursor: pointer;
  transition: transform 0.2s;
}

.slider::-moz-range-thumb:hover {
  transform: scale(1.25);
}

.button-container {
  margin: 2rem auto;
}

button {
  padding: 0.75rem 1.5rem;
  background-color: var(--green);
  border-radius: 50px;
  margin: 0 0.5rem;
  border: none;
}

.background-holds {
  opacity: 0.8;
}

.background-holds > img {
  max-width: 20%;
  position: absolute;
}

.yellow-hold {
  top: -1vh;
  left: 50vw;
}

.green-hold {
  opacity: 0.75;
  top: 40%;
  left: -8vw;
}
.purple-hold {
  top: 28%;
  right: -9vw;
}

.red-hold {
  top: 94%;
  right: -3vw;
}

main {
  min-height: 91vh;
  height: auto;
  background-color: var(--dark);
  padding: 7.5rem 26rem 6rem 9rem;
  position: relative;
  top: 1vh;
  z-index: 1;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  overflow-x: clip;
}

main.hidden {
  display: none;
}

main h2 {
  padding-bottom: 4rem;
}
main p {
  padding-bottom: 1.5rem;
}

main.landing-page * {
  align-self: flex-end;
}

article {
  max-width: 60vw;
}

#call-to-action {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  color: var(--light);
  transition: all 0.2s;
  cursor: pointer;
}

#call-to-action h3 {
  color: inherit;
}

#call-to-action:hover {
  color: var(--pink);
}

#call-to-action:active {
  color: var(--blue);
}

#call-to-action img {
  max-width: 10rem;
  padding-left: 1.5rem;
  flex-shrink: 2;
}

footer {
  background-color: var(--light);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 2rem;
  width: 100%;
  position: relative;
  z-index: 3;
  overflow-x: clip;
}

footer.hidden {
  display: none;
}

.nav-footer {
  padding-bottom: 3rem;
}

.contact-links {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

footer *,
footer *::first-letter {
  color: var(--grey);
}

.rotate-neg-45 {
  transform: rotate(-45deg);
  transition: all 0.2s;
}

.rotate-45 {
  transform: rotate(45deg);
  transition: all 0.2s;
}

.rotate-neg-45:hover,
.rotate-45:hover {
  transform: rotate(0deg);
}

.icon-container {
  display: flex;
  align-items: center;
}

.footer-icon {
  color: var(--grey);
  font-size: 1.5rem;
  line-height: 1rem;
  margin-right: 0.5rem;
}

/* --- FORM PAGE --- */

.form-header {
  max-width: 1000px;
  margin: 0 auto;
}

form {
  max-width: 60vw;
  padding: 4rem 0;
}

form h2 {
  padding-bottom: 2rem;
}

form > div {
  margin-bottom: 5rem;
}

form label {
  display: block;
  padding-bottom: 1rem;
}

form label.textarea {
  padding-bottom: 3rem;
}

form input,
form textarea {
  color: var(--light);
  background-color: transparent;
  width: 100%;
}

form input[type="text"],
form input[type="email"],
form input[type="url"],
form textarea {
  border: none;
}

form input::placeholder,
form textarea::placeholder {
  color: var(--bright-grey);
  font-size: 4rem;
  line-height: 6rem;
}

form textarea::placeholder {
  font-size: 3rem;
}

form .text-field {
  position: relative;
  padding-bottom: 2rem;
}

form .text-field.textarea {
  padding-bottom: 0;
}

form .text-field::before {
  content: "";
  position: absolute;
  background-color: var(--light);
  left: 0;
  bottom: 0;
  width: 12rem;
  height: 2px;
}

form .text-field:hover::before {
  width: 100%;
}

form input:focus,
form textarea:focus {
  outline: none;
}

form textarea {
  display: block;
  resize: vertical;
  border-left: 1px solid var(--light);
  padding: 1rem 1.5rem;
}

form button[type="submit"] {
  margin-left: 0;
}

.form-slider {
  margin-top: 1rem;
}

.form-slider label {
  font-size: 2rem;
  flex: 0;
}

.form-slider label.right-label {
  flex: 1;
}

.form-slider input.slider {
  max-width: 40vw;
}

input::file-selector-button {
  font-family: var(--small-font-family);
  font-weight: var(--extralight-weight);
  font-size: 1.5rem;
  line-height: 2rem;
  background-color: var(--light);
  color: var(--dark);
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 0.75rem;
  margin-right: 1rem;
  height: 80px;
}

.go-back {
  cursor: pointer;
}

/* Media Queries */

@media screen and (max-width: 780px) {
  main {
    padding: 5rem 13rem 4rem 5rem;
  }
  .title-logo {
    font-size: 3rem;
    line-height: 2.6rem;
    padding: 2rem 5rem 4.5rem 2rem;
  }
}

@media screen and (max-width: 600px) {
  main {
    padding: 5rem 8rem 4rem 5rem;
  }

  .quiz-container {
    position: static;
    margin-top: 5rem;
    margin-bottom: 8rem;
  }

  .quiz-container h2 {
    max-width: 80vw;
  }

  .green-hold {
    top: 20%;
  }

  .purple-hold {
    top: 60%;
  }

  .red-hold {
    top: 106%;
    right: 15vw;
  }
}

@media screen and (max-width: 540px) {
  main {
    padding: 5rem 6rem 4rem 5rem;
  }
  .about {
    max-width: 80vw;
  }

  h1.form-header,
  .gym-page header h1,
  .gym-page main h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  form textarea#synopsis-gym {
    width: 34rem;
  }
}

@media screen and (max-width: 430px) {
  h1.form-header,
  .gym-page header h1,
  .gym-page main h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  form h2,
  .gym-page header h2,
  .gym-page main h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  form textarea#synopsis-gym {
    width: 24rem;
  }
}

@media screen and (max-width: 344px) {
  main {
    padding: 5rem 4rem;
  }
}

/* --- DIRECTORY PAGE --- */

.directory-page {
  display: none;
  background-color: var(--dark);
  justify-content: space-evenly;
  color: var(--light);
  position: absolute;
  z-index: 6;
  top: 0;
  right: 0;
  left: 0;
}

.directory-page.is-active {
  display: flex;
}

.directory-map {
  position: relative;
  height: fit-content;
}

.directory-map img.map {
  max-height: 100vh;
  display: block;
}

.directory-map img.pin {
  width: 3%;
  position: absolute;
  z-index: 5;
  display: inline-block;
  transition: all 0.2s;
  transform-origin: bottom;
}

.directory-map .map-logos img.logo {
  width: 12%;
  position: absolute;
  z-index: 999;
  /* background-color: var(--light); */
  background: white;
  border-radius: 0.75rem;
  padding: 0.5rem;
  display: inline-block;
  transition: all 0.2s ease-in;
  opacity: 1;
}

.directory-map .map-logos img.logo.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.directory-map img.pin:hover {
  transform: scale(1.2);
}

.directory-content {
  padding: 2.5rem 3rem 2rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  flex-grow: 2;
}

.directory-content > nav > * {
  max-width: 12rem;
}

.close-icon {
  pointer-events: all;
  cursor: pointer;
}

fieldset {
  color: var(--light);
  border-radius: 1rem;
  max-width: fit-content;
  border: none;
  padding: 6rem 0 2rem 0;
}

fieldset legend {
  display: contents;
}

button.filter-chip {
  padding: 1.25rem 1rem;
  margin-bottom: 0.5rem;
  margin-right: 0;
  margin-left: 0.5rem;
  line-height: 0rem;
  background-color: var(--light);
  cursor: pointer;
}

button.filter-chip.is-enabled {
  background-color: var(--green);
}

button.filter-chip > span {
  padding-left: 0.3rem;
}

li {
  list-style: none;
  padding-bottom: 0.3rem;
}

/* --- CUSTOM LINK STYLING --- */
/* .directory-list-items {
  padding-bottom: 2rem;
} */

a.join:link {
  color: var(--yellow);
}

.directory-list-items li a:visited,
a.join:visited {
  color: var(--blue);
}

.directory-list-items li a.disabled:visited {
  color: var(--grey);
}

.directory-list-items li a.highlight:visited {
  color: var(--pink);
}

.directory-list-items li a:hover,
a.join:hover {
  color: var(--pink);
}

.directory-list-items a:active,
a.join:active {
  color: var(--blue);
}

.right-align {
  text-align: right;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  .directory-list-items {
    column-count: 2;
  }
}

@media screen and (max-width: 960px) {
  .directory-page {
    flex-flow: column-reverse;
    justify-content: flex-end;
  }
  .directory-list-items {
    column-count: 1;
  }
}

/* --- ITEM / GYM PAGE --- */

.gym-page-transition {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-color: var(--light);
  opacity: 0;
  pointer-events: none;
  transition: 0.1s ease-out;
}

.gym-page-transition.is-active {
  pointer-events: all;
  opacity: 1;
}

.site-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 98;
}

.intra-page-nav {
  background-color: var(--grey);
  flex-flow: column;
  border-top-left-radius: 4.5rem;
  border-bottom-left-radius: 4.5rem;
  position: sticky;
  float: right;
  top: 20vh;
  z-index: 100;
  padding: 2.5rem 2rem 2.5rem 1rem;
  align-items: flex-start;
}
.intra-page-nav.hidden {
  display: none;
}

.nav-bar-circle {
  background-color: var(--light);
  border-radius: 100%;
}

.nav-bar-circle.active {
  background-color: var(--green);
}

.nav-bar-circle:not(:last-child) {
  margin-bottom: 1rem;
}

.nav-bar-circle:hover {
  background-color: var(--green);
}

.nav-inner-circle {
  border-radius: 100%;
  display: block;
  color: var(--grey);
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gym-header {
  background-color: var(--dark);
  padding: var(--gym-page-pad);
  position: relative;
}

.gym-header .title-container {
  display: flex;
  transform: rotate(-5deg);
  position: absolute;
  bottom: 4rem;
  right: 40%;
  z-index: 98;
}

.gym-header .title-container.hidden {
  display: none;
}

.gym-header h1.gym-page-title {
  /* position: absolute;
  bottom: 4rem;
  right: 40%;
  z-index: 999; */
  padding: 0 5.5rem 0 0;
  text-align: right;
}

.gym-header .overlay-img {
  position: absolute;
  /* top: calc(2 * var(--gym-page-pad)); */
  bottom: calc(-4 * var(--gym-page-pad));
  right: 0rem;
  width: 40%;
  z-index: 99;
}
.gym-header .overlay-img.hidden {
  display: none;
}

main.gym-page-main {
  background-color: unset;
  border-radius: 0;
  top: 0;
  padding: 0;
}

section.the-story {
  background-color: var(--light);
  padding: 5rem var(--gym-page-pad);
  display: flex;
  justify-content: flex-end;
  margin-right: var(--gym-page-pad);
  margin-top: var(--gym-page-pad);
}

section.the-story * {
  color: var(--grey);
}

section.the-story article {
  width: 60%;
}

/* section.the-story p, */
section.neighbourhood p {
  padding-bottom: 0;
}

.keywords {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding-top: 7.5rem;
  padding-left: 1rem;
  width: 40%;
}

.keywords h2 {
  padding-bottom: 0;
}

.neighbourhood-content {
  padding: var(--gym-page-pad);
  position: relative;
}

.neighbourhood-content img {
  width: 70%;
  float: right;
  padding-left: 3rem;
  padding-bottom: 3rem;
}

.neighbourhood-content h1 {
  padding-right: 0;
  padding-top: 0;
}

.neighbourhood-content h2 {
  padding-bottom: 3rem;
}

.address-container {
  margin-bottom: 4.5rem;
}

.the-vibe {
  background: var(--blue);
  color: var(--light);
  padding: 4rem;
  position: absolute;
  right: var(--gym-page-pad);
  /* leave bottom value as auto */
  /* bottom: -25%; */
  z-index: 999;
  max-width: 30%;
  border-radius: 1rem;
}

.the-vibe h3 {
  padding-bottom: 2rem;
}

section.neighbourhood > img {
  display: block;
}

section.the-wall {
  background-color: var(--dark);
  padding-top: var(--gym-page-pad);
}

section.the-wall article.the-wall-container {
  padding: 0 var(--gym-page-pad);
}

section.the-wall img {
  width: 40%;
  float: right;
  margin-left: 2rem;
}

section.the-wall .gym-logo {
  clear: both;
  margin-bottom: 3rem;
}

section.the-wall .gym-logo {
  background-color: var(--light);
  transform: rotate(-10deg);
}

.the-wall-container h1,
.the-wall-container section {
  padding: 0 0 5rem 0;
}

.the-wall-container h2 {
  padding-bottom: 2rem;
}

/* SOCIAL INITIATIVES SECTION */

.social-initiatives {
  background-color: var(--grey);
  position: relative;
  min-height: 110rem;
  height: auto;
}

.social-initiatives > img {
  mix-blend-mode: lighten;
}

.social-initiatives article {
  max-width: 100%;
  padding: var(--gym-page-pad);
  padding-top: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  top: calc(-1 * var(--gym-page-pad));
}

.social-initiatives article img {
  border-radius: 0.75rem;
}

.social-initiatives header {
  text-align: left;
  padding-left: 3rem;
}

.social-initiatives h1,
.social-initiatives h3,
.social-initiatives h4 {
  padding: 0;
  padding-bottom: 1rem;
}
.social-initiatives h1,
.social-initiatives h4 {
  max-width: 60%;
}

.social-initiatives p {
  padding: 0;
}

.social-initiatives .grid-group {
  display: grid;
  /* grid-template-columns: repeat(2, minmax(40%, 1fr)); */
  grid-template-columns: 1fr 41.5%;
  column-gap: 3rem;
  margin-top: 12rem;
  background-color: var(--grey);
}

.grid-1 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.grid-2 {
  grid-row: 1 / 4;
  grid-column: 3 / 5;
}

.grid-3 {
  grid-row: 3 / 6;
  grid-column: 1 / 3;
}

.grid-4 {
  grid-row: 5 / 6;
  grid-column: 3 / 4;
  /* max-width: 74%; */
}

.social-initiatives .card-group {
  /* display: flex;
  align-items: start; */
  margin-top: 8rem;
  position: relative;
}

.social-initiatives .card-group.card-1 {
  text-align: right;
}

.social-initiatives .card-group.card-1 img {
  width: 80%;
}

.social-initiatives .card-group .content {
  position: absolute;
  top: 3rem;
}

.social-initiatives .card-group.card-1 .content {
  width: 41vw;
  padding: 0 3rem 0 0;
}

.social-initiatives .card-group.card-2 .img-filter {
  padding-top: 12rem;
}
.social-initiatives .card-group.card-2 .img-filter::after {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: inset 0 20rem 10rem 0 rgba(0, 0, 0, 1);
  width: 90%;
  border-radius: 0.75rem;
}

.social-initiatives .card-group.card-2 img {
  width: 90%;
}

/* .social-initiatives .card-group.card-2 img::after {
  box-shadow: inset 0px 200px 100px 0px rgba(0, 0, 0, 1);
} */

.social-initiatives .card-group.card-2 .content {
  /* right: 10rem; */
  width: 90%;
  padding-left: 41.5vw;
}

/* FOOTER */

.gym-page-footer h2,
.gym-page-footer h2::first-letter {
  text-transform: capitalize;
  padding-top: 0.5rem;
}

#scroll-to-top {
  background-color: var(--grey);
  border-radius: 50%;
}

#scroll-to-top *::first-letter {
  color: var(--light);
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  .social-initiatives .grid-group {
    column-gap: 2rem;
    row-gap: 4rem;
    grid-auto-flow: column;
    margin-top: var(--gym-page-pad);
  }
  .social-initiatives h1,
  .social-initiatives h4 {
    text-align: left;
  }
  .social-initiatives .grid-4 {
    grid-row: 3 / 5;
  }
  .social-initiatives .card-group.card-2 .img-filter {
    padding-top: 16rem;
  }
  .social-initiatives .card-group .content {
    top: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .the-vibe {
    max-width: 50%;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 540px) {
  section.the-story {
    flex-flow: column-reverse;
    margin-right: 0;
  }

  section.the-story .keywords {
    padding-top: 0;
    width: 100%;
  }

  section.the-story article {
    padding-top: var(--gym-page-pad);
    width: 100%;
    max-width: none;
  }

  .neighbourhood-content h1 {
    padding-left: 0;
  }

  .neighbourhood-content img {
    width: 100%;
    padding-left: 0;
  }

  .neighbourhood-content h2 {
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 430px) {
  .gym-header h1.gym-page-title {
    padding-right: 1.5rem;
  }
  section.the-wall {
    padding-top: calc(var(--gym-page-pad) * 2);
  }
  section.the-wall img {
    width: 30%;
  }
  section.the-wall article.the-wall-container {
    padding-top: calc(var(--gym-page-pad) / 2);
  }
}

@media screen and (max-width: 390px) {
  .the-vibe {
    padding: 3rem;
  }

  .social-initiatives article {
    display: inline;
  }

  .social-initiatives h1 {
    padding-bottom: calc(var(--gym-page-pad) / 2);
  }

  .social-initiatives p {
    padding-top: 3rem;
  }
}

@media screen and (max-width: 375px) {
  .social-initiatives article {
    display: inline;
  }

  .social-initiatives h1 {
    padding-bottom: calc(var(--gym-page-pad) / 2);
  }

  .social-initiatives p {
    padding-top: 3rem;
  }
}

@media screen and (max-width: 344px) {
  section.the-wall {
    padding-top: calc(var(--gym-page-pad) * 3);
  }
}
